body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #96cabf;
}

.map-contain {
  position: relative;
  width: 980px;
  height: 630px;
  overflow: hidden;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character {
  position: absolute;
  width: 30px;
  height: 60px;
  background-color: #ff69b4;
  top: 450px;
  left: 430px;
}

.move-button {
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  left: 73%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #b04a28;
  border: 5px solid #3d1f15;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider-container {
  position: absolute;
  bottom: 20px;
  left: 10px;
  display: flex;
  align-items: center;
  width: 490px;
  height: 30px;
  overflow: hidden;
  background-color: #1aa7c6;
  border-radius: 10px;
  padding: 20px;
}

.slider-button {
  background-color: #1aa7c6;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  z-index: 10;
}

.slider-button:hover {
  background-color: #007bff;
}

.slider-wrapper {
  overflow: hidden;
  width: calc(100% - 60px);
  display: flex;
  flex-shrink: 0;
}

.slider-track {
  display: flex;
  transition: transform 0.3s;
}

.slider-item {
  width: 60px;
  height: 60px;
  background-color: #b04a28;
  border-radius: 10px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.rating-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1aa7c6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rating-button:hover {
  background-color: #007bff;
}

.rating-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  opacity: 0; /* Изначально скрыто */
  pointer-events: none;
  z-index: 1000;
}
.rating-modal.show {
  opacity: 1;
  pointer-events: auto;
}
/* Содержимое модального окна */
.rating-content {
  width: 500px;
  background-color: #d0a573;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.rating-header {
  font-size: 24px;
  color: #ffffff;
  background-color: #1aa7c6;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.rating-list {
  max-height: 300px;
  overflow-y: auto;
  background-color: #f5deb3;
  border-radius: 10px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

table th,
table td {
  background-color: #40bcd8;
  color: #fff;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

table th {
  background-color: #1aa7c6;
}

.friend td {
  background-color: #b04a28;
  color: #fff;
}
